
<!-- Forms and RxJs example component -->
<div>
  <span>Forms and Rxjs examples: </span>
  <a routerLink="/simple-elements" routerLinkActive="active">Simple Elements</a> |
  <a routerLink="/simple-validation" routerLinkActive="active">Simple Validation</a> |
  <a routerLink="/complex-form" routerLinkActive="active">Complex Form</a> |
  <a routerLink="/complex-validation" routerLinkActive="active">Complex Validation</a> |
  <a routerLink="/data-manipulation" routerLinkActive="active">Data Manipulation</a> |
</div>

<!-- <app-users-list></app-users-list> -->


<!-- <div class="common-container">

  <first-test></first-test>

  <second-test>
    Hello world!
  </second-test>

  <second-test>
    Hello world!2
  </second-test>

  <second-test>
    Hello world!3
  </second-test>

  <div class="square"> Square Common </div>

</div> -->



<!-- Routers will go there -->
<router-outlet></router-outlet>